[mysqld]
default-time-zone = "+03:00"
sync_binlog = 0
skip-log-bin
transaction-isolation = READ-COMMITTED
tmp_table_size = 128M
max_heap_table_size = 128M
join_buffer_size = 8M
skip-name-resolve
sql_mode=""

innodb_flush_method = O_DIRECT
innodb_buffer_pool_size = 1G
innodb_lock_wait_timeout = 50
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 0
