[mysqld]
default-time-zone="+03:00"
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2
sync_binlog=0
# Try to replace O_DIRECT by O_DSYNC if you have "Operating system error number 22"
innodb_flush_method=O_DIRECT
transaction-isolation=READ-COMMITTED
binlog_cache_size=0
sql_mode=""
wait_timeout = 600
