# Project name to separate multiple bitrixdock instances
COMPOSE_PROJECT_NAME=bitrixdock

# PHP version settings. Allowed values are: php56, php71, php73, php74, php80, php81, php82, php83, php84, php85
# Note: Bitrix requires PHP 8.0+
# Note: PHP 8.5 does not have php-memcache extension, use php-memcached instead
PHP_VERSION=php82

# PHP version for workspace container
PHP_WORKSPACE_VERSION=8.2
# nodejs version, current latest LTS
NODE_VERSION=24.12.0

# Web server type. Allowed value is apache or nginx.
WEB_SERVER_TYPE=nginx

# MySQL settings. Allowed value is mysql or percona.
DB_SERVER_TYPE=mysql
MYSQL_DATABASE=bitrix
MYSQL_USER=bitrix
MYSQL_PASSWORD=123
MYSQL_ROOT_PASSWORD=123

# Network
INTERFACE=0.0.0.0

# Site path
SITE_PATH=./www
