# Project name to separate multiple bitrixdock instances
PROJECT=

# PHP version settings. Allowed value is php56, php71 or php74.
PHP_VERSION=php74

# Web server type. Allowed value is apache or nginx.
WEB_SERVER_TYPE=nginx

# MySQL settings. Allowed value is mysql or percona.
DB_SERVER_TYPE=mysql
MYSQL_DATABASE=bitrix
MYSQL_USER=bitrix
MYSQL_PASSWORD=123
MYSQL_ROOT_PASSWORD=123

# Network
INTERFACE=0.0.0.0

# Site path
SITE_PATH=/var/www/bitrix
