---
services:
    php:
        build: ./php/${PHP_VERSION}
        volumes:
            - ${SITE_PATH}:/var/www/bitrix
            - ./logs/php:/var/log/php
            - /etc/localtime:/etc/localtime/:ro
        links:
            - db
            - memcached
        environment:
            TZ: Europe/Moscow
        networks:
            - bitrixdock
        restart: unless-stopped

    web_server:
        build: ./${WEB_SERVER_TYPE}
        volumes:
            - ${SITE_PATH}:/var/www/bitrix
            - ./logs/${WEB_SERVER_TYPE}:/var/log/${WEB_SERVER_TYPE}
            - /etc/localtime:/etc/localtime/:ro
        ports:
            - '${INTERFACE}:80:80'
            - '${INTERFACE}:443:443'
        links:
            - php
        networks:
            - bitrixdock
        environment:
            TZ: Europe/Moscow
        restart: unless-stopped

    db:
        build: ./${DB_SERVER_TYPE}
        volumes:
            - ./${DB_SERVER_TYPE}/init:/docker-entrypoint-initdb.d
            - ./logs/db:/var/log/mysql
            - /etc/localtime:/etc/localtime/:ro
            - db2:/var/lib/mysql
        ports:
            - '${INTERFACE}:3306:3306'
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            TZ: Europe/Moscow
        networks:
            - bitrixdock
        restart: unless-stopped

    memcached:
        image: memcached:latest
        networks:
            - bitrixdock
        environment:
            TZ: Europe/Moscow
        restart: unless-stopped

    adminer:
        image: dockette/adminer:full
        links:
            - db:db
        ports:
            - '${INTERFACE}:8080:80'
        environment:
            UPLOAD: 1024M # upload_max_filesize, post_max_size
            TZ: Europe/Moscow
        restart: unless-stopped
        networks:
            - bitrixdock

volumes:
    db:
        driver: local
        driver_opts:
            type: none
            device: /var/lib/docker/volumes/${COMPOSE_PROJECT_NAME}_db/_data
            o: bind

networks:
    bitrixdock:
